
  
 .rings-contain .container,
 .rings-contain .ring,
 .rings-contain .buttonShadow,
 .rings-contain  button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .rings-contain img,
  .rings-contain svg,
  .rings-contain .cap,
  .rings-contain .buttonShadow,
  .rings-contain  button {
    position: absolute;
  }
  
 
  
  .rings-contain img {
    top: 50px;
    width: 90px;
  }
  
  .rings-contain  #st0 {
    fill: #fff;
    stroke: #e4836b;
  }
  
  .rings-contain .ring {
    position: relative;
    height: 340px;
    width: 300px;
  }
  
  .rings-contain .cap {
    height: 340px;
    width: 35px;
    overflow: hidden;
  }
  
  .rings-contain .up {
    top: 0px;
  }
  
  .rings-contain .buttonShadow {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    z-index: 20;
    box-shadow: 4px 4px 7px grey, -4px -4px 7px grey;
  }
  
  .rings-contain button {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    z-index: 20;
    background: #070100;
    outline: none;
    border: none;
    text-align: center;
    cursor: pointer;
  }
  
//   @for $i from 1 through 100 {
//      .cap#{$i} {
//       transform: rotate(($i * 15) + deg);
//     }
//   }
  .cap1{
    transform: rotate(15deg);
  }
  .cap2{
    transform: rotate(30deg);
  }
  .cap3{
    transform: rotate(45deg);
  }
  .cap4{
    transform: rotate(60deg);
  }
  .cap5{
    transform: rotate(75deg);
  }
  .cap6{
    transform: rotate(90deg);
  }
  .cap7{
    transform: rotate(105deg);
  }
  .cap8{
    transform: rotate(120deg);
  }
  .cap9{
    transform: rotate(135deg);
  }
  .cap10{
    transform: rotate(150deg);
  }
  .cap11{
    transform: rotate(165deg);
  }
  .cap12{
    transform: rotate(180deg);
  }
  .cap13{
    transform: rotate(195deg);
  }
  .cap14{
    transform: rotate(210deg);
  }
  .cap15{
    transform: rotate(225deg);
  }
  .cap16{
    transform: rotate(240deg);
  }
  .cap17{
    transform: rotate(255deg);
  }
  .cap18{
    transform: rotate(270deg);
  }
  .cap19{
    transform: rotate(285deg);
  }
  .cap20{
    transform: rotate(300deg);
  }
  .cap21{
    transform: rotate(315deg);
  }
  .cap22{
    transform: rotate(330deg);
  }
  .cap23{
    transform: rotate(345deg);
  }
  .rings-contain svg {
    background: transparent;
  }
  